.rcard-main {
    padding: 25px;
    background: #e7e7e7;
    overflow: hidden;
    display: flex;
}

.rcard-left {
    width: 20%;
}

.rcard-img {
    width: 300px;
    height: 250px;
}

.rcard-right {
    padding: 10px 80px;
    width: 70%;
}

.upper-case {
    text-transform: uppercase;
}

.rcard-category {
    font-weight: bold;
}

.rcard-right-bottom {
    display: flex;
    justify-content: space-between;
}

.section2 {
    display: flex;
    justify-content: space-between;
}

.item-section {
    padding: 25px 50px;
    width: 40%;
}

.mcard-category {
    font-weight: bold !important;
}

.mcard-main {
    padding: 10px 0;
}

.item-veg {
    color: #5a9a5a;
}

.item-nonveg {
    color: #be4a47;
}

.item-name {
    text-transform: capitalize;
    color: gray;
}

.item-add {
    font-size: small !important;
    padding: 0 !important;
}

.item-menu {
    display: flex;
    padding: 5px 0;
    justify-content: right;
}

.cart-section {
    padding: 25px 50px;
    width: 35%;
    margin-right: 5%;
}

.cart-main{
    padding: 25px !important;
}

.cart-header{
    font-weight: bold;
    font-style: initial;
    padding-bottom: 15px;
}

.cart-header i {
    padding-right: 20px;
}

.cart-title {
    font-size: x-large;
}

.cart-total {
    display: flex;
    margin: 10px auto auto;
    color: gray;
}

.cart-total p {
    font-weight: bold !important;
}

.badge {
    font-style: initial !important;
}

.badge span {
    z-index: 0 !important;
}

.cart-item-main {
    display: flex;
    padding: 5px 0;
}

.citem-add button:hover, .citem-remove button:hover {
    background: #eacc5d;
}

.citem-add button, .citem-remove button {
    font-size: small !important;
    padding: 0 !important;
}

.citem-add {
    text-align: start;
}

.citem-remove {
    text-align: end;
}

.citem-quantity p{
    text-align: center;
}

.cart-button button {
    width: 100%;
    margin-top: 10px;
}

.amount {
    text-align: end !important;
}